body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #21302b;
    color: #E6E2DA;
}

header {
    background: #182115;
    color: #E6E2DA;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #A6824A;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    padding: 40px;
    gap: 40px;
    align-items: center;
}

.profile-pic {
    width: 180px;
    border-radius: 100%;
}

.card {
    background: #21302b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px;
}

.button {
    display: inline-block;
    padding: 10px 16px;
    background: #21302b;
    color: #A6824A;
    border-radius: 6px;
    text-decoration: none;
}

.project-hero {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #A6824A;
    color: #E6E2DA;
    margin-top: 40px;
}
